.app-header-inner {
    span .bt {
        padding-left: 30px !important;
        font-size: 30px !important;
        color: white !important;
        padding-top: 10px !important;
        padding-left: 50px !important;
        font-size: 15px !important;
    }
}

sub {
    position: relative;
    font-size: 50%;
    line-height: 0;
    vertical-align: text-bottom;
}

.app-header-inner {
    background: white !important;
    height: 45px;
    // background-color: white;
    border: 0.3px solid #175641;
    box-shadow: none;
}

#iconos {
    color: #175641;
}

li#iconos {
    font-size: 11px;
    color: #175641;
    padding-top: 9px;
}

nav {
    border: 0.3px solid #175641;
    height: 45px;
}

.logo {
    width: 120px !important;
    height: 40px !important;
}

.version {
    font-size: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #175641;
}

.informacion {
    font-size: 11px;
    color: #175641;
}

img {
    width: 120px !important;
    height: 40px !important;
}

// @media only screen and (max-width: 400px) {
//     .app-header-inner a img {
//         display: none !important;
//     }
//     .app-header {
//         height: auto !important;
//     }
// }