
  <h1 mat-dialog-draggable-title>{{titulo| titlecase}}</h1>


<mat-dialog-content > 
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Tipo</th>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Valores Asociados</th>      
        <th>Texto Extendido</th>
        <!-- <th>Comentarios</th> -->
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of solicitudes">
        <td>{{item.tipo}}</td>
        <td>{{item.TABLE_CODE}}</td>
        <td>{{item.TABLE_DESC}}</td>
        <td>{{item.ASSOC_REC}}</td>
        <td>{{item.TEXTO_EXTENDIDO}}</td>
        <!-- <td>{{item.COMENTARIOS}}</td> -->
        <!-- <td>{{item.Comentarios}}</td> -->
       
    </tbody>
    
  </table>



</mat-dialog-content>

<mat-dialog-actions align="end" >

  <button mat-raised-button color="accent" (click)="EnviarSolicitud()">Enviar Solicitud</button>
  <button mat-raised-button color="warn" (click)="cerrar()">Cerrar</button>

</mat-dialog-actions>