<section class="app-header" style="height: 45px; width: 100%;">


    <div class="app-header-inner" [ngClass]="{'bg-color-light': ['11','12','13','14','15','16','21'].indexOf(AppConfig.colorOption) >= 0,
  'bg-color-dark': AppConfig.colorOption === '31',
  'bg-color-primary': ['22','32'].indexOf(AppConfig.colorOption) >= 0,
  'bg-color-success': ['23','33'].indexOf(AppConfig.colorOption) >= 0,
  'bg-color-info': ['24','34'].indexOf(AppConfig.colorOption) >= 0,
  'bg-color-warning': ['25','35'].indexOf(AppConfig.colorOption) >= 0,
  'bg-color-danger': ['26','36'].indexOf(AppConfig.colorOption) >= 0}" style="height: 45px; background-color: white; border: 0.3px solid #175641;">



        <a (click)="goToDashboard()"><img src="assets/images/Collahuasi.png" id="dashboard" style="width: 120px; height: 40px;"></a>

        <span class='bt'>
    
      {{Ambiente}} <sub *ngIf="VersionCoemdr.Version" style="
        position: relative;
        font-size: 50%;
        line-height: 0;
        vertical-align: text-bottom;
    " >{{VersionCoemdr.Version}}</sub>   
      <sub *ngIf="VersionCoemdr.Version ===''" style="
        position: relative;
        font-size: 50%;
        line-height: 0;
        vertical-align: text-bottom;
    " >{{version}}</sub>   
    <!-- <a style="font-size: 10px; color:#175641; text-align:center" >{{ver}}</a> -->
    </span>


        <div class="top-nav-right">

            <ul class="list-unstyled list-inline">
                <!-- <li class="list-inline-item">
                    <button [style.display]='propiedad' *ngIf="!propiedad" mat-button class="mat-button header-btn" myOpenSearchOverlay (click)="goToDashboard()" style="color: #175641;font-family:'collahuasi'"><mat-icon mat-list-icon style="color: #175641 ">dashboard</mat-icon>Dashboard</button>
                    <button [style.display]='propiedad' *ngIf="propiedad" mat-button class="mat-button header-btn" myOpenSearchOverlay (click)="goToDashboard()" style="color: #175641;font-family:'collahuasi'"><mat-icon mat-list-icon style="color: #175641 ">dashboard</mat-icon>Inicio</button>
                </li> -->
                <li style="font-size: 11px; color: #175641; padding-top: 9px; ">
                    {{informacion}}
                </li>
                <li class="list-inline-item">
                    <a (click)="cambiarClave()"><button style="color: #175641 "   mat-button class="mat-button header-btn" myOpenSearchOverlay><mat-icon mat-list-icon style="color: #175641 " title='Help'>help</mat-icon></button> </a>
                </li>
                <li class="list-inline-item">
                    <button style="color: #175641 " (click)="logout()" mat-button class="mat-button header-btn" myOpenSearchOverlay><mat-icon mat-list-icon style="color: #175641 ">exit_to_app</mat-icon>Cerrar Sesion</button>
                </li>



                <!-- <li class="list-inline-item">
          <a href="https://summa-consulting.net/" target="_blank"> <img src="assets/images/logo_Summa.png" style="width: 80px; height: 40px;"></a>
      </li> -->
            </ul>


        </div>



        <!--<div class="top-nav-right">
      <ul class="list-unstyled float-right">
        <li>
          <button mat-button class="mat-button header-btn" [matMenuTriggerFor]="appLogout">
            <mat-icon>account_circle</mat-icon>     
          </button>

          <mat-menu #appLogout="matMenu" x-position="after" y-position="below" [overlapTrigger]="false">
            <mat-nav-list dense>
              <a mat-list-item>
                <mat-icon mat-list-icon>perm_identity</mat-icon>
                <h4 mat-line>{{AppConfig.user}}</h4>
              </a>
              <hr>
              <a mat-list-item (click)="logout()">
                <mat-icon mat-list-icon>subdirectory_arrow_left</mat-icon>
                <h4 mat-line>Salir</h4>
              </a>
            </mat-nav-list>
          </mat-menu>

        </li>
        <li><button mat-button class="mat-button header-btn d-lg-none d-xl-none" myOpenSearchOverlay><i class="material-icons">search</i></button></li>
      </ul>
    </div>-->




    </div>

</section>