<h1 mat-dialog-title>{{ data.title }}</h1>

<mat-dialog-content>
    <div class="row">
        <div class="col-xl-4">
            <mat-form-field>
                <input matInput type="text" placeholder="Codigo Ellipse" [(ngModel)]='stdJobModel.stdJobNo1tx' />
            </mat-form-field>
        </div>

        <div class="col-xl-6">
            <mat-form-field>
                <input matInput type="text" placeholder="Descripcion" [(ngModel)]='stdJobModel.stdJobNo1desc' />
            </mat-form-field>
        </div>

        <div class="col-xl-2">
            <button mat-raised-button color="accent" (click)="CargarStdJob()">Buscar</button>
        </div>
        <br>

        <div class="col-xl-3">
            <button mat-raised-button class="btn-sm" (click)='paginacion(-1)'>
                <i class="material-icons">arrow_left</i>
            </button>
            <button mat-raised-button class="btn-sm">
                <i class="material-icons" (click)='paginacion(+1)'>arrow_right</i>
            </button>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-xl-12">
            <!-- <mat-progress-bar *ngIf="isLoading" style="width: 100%" mode="buffer"></mat-progress-bar> -->
            <div class="box box-default table-box table-responsive mdl-shadow--2dp" style="height: 270px;">
                <table class="mdl-data-table table-bordered table-striped cf no-margin">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                            <th class="mdl-data-table__cell--non-numeric">Std Job</th>
                            <th class="mdl-data-table__cell--non-numeric">Descripcion</th>
                            <th class="mdl-data-table__cell--non-numeric">No. Tareas</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of StdJobList">
                            <td>
                                <mat-checkbox class="example-margin" [(ngModel)]="item.selected" (change)="deseleccionarTodo(item)"></mat-checkbox>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{item.STD_JOB_NO}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{item.STD_JOB_DESC}}</td>
                            <td class="mdl-data-table__cell--non-numeric"><a (click)='SeleccionarTareas(item.STD_JOB_NO)'>{{item.STD_JOB_NO_TASK}}</a></td>
                            <!-- <td class="mdl-data-table__cell--non-numeric">{{item.documentAuthor}}</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf='!habilitar' mat-raised-button color="primary" (click)="guardar()" disabled>{{ data.button_confirm }}</button>
    <button *ngIf='habilitar' mat-raised-button color="primary" (click)="guardar()">{{ data.button_confirm }}</button>
    <button mat-raised-button color="warn" (click)="cancelar()">{{ data.button_close }}</button>
</mat-dialog-actions>