<!-- <div myPreloader class="preloaderbar hide">
    <span class="bar"></span></div>
<div>


    <router-outlet>

       

        <ngx-loading [show]="loading" [config]="{fullScreenBackdrop:true, backdropBorderRadius: '14px'}"></ngx-loading>
    </router-outlet>
</div> -->
<div myPreloader class="preloaderbar hide">

    <span class="bar"></span>

</div>


<router-outlet>
    <ngx-loading [show]="loading" [config]="{fullScreenBackdrop:true, backdropBorderRadius: '14px'}"></ngx-loading>
</router-outlet>