<div class="page-auth">
    <div class="main-body">
        <div class="card card-white">
            <div class="card-content">
                <div class="logo">
                    <div class="top-nav-left">
                        <a [routerLink]="['/login']"><img src="assets/images/logo_collahuasi.png" style="width: 100px; height: 40px;"></a>
                    </div>
                    <div class="top-nav-right"><b style="font-size: 10px;">Matriz de Riesgos <br> {{ambiente}}</b></div>
                </div>


                <form name="material_login_form" class="form-validation" (ngSubmit)="deafultValues()" #loginForm="ngForm" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <mat-form-field class="full-width">
                                <mat-icon matSuffix class="material-icons">person_outline</mat-icon>
                                <input matInput type="text" name="username" placeholder="Usuario" [(ngModel)]="model.username" #username="ngModel" required>


                            </mat-form-field>

                        </div>
                        <div class="form-group">
                            <mat-form-field class="full-width">
                                <mat-icon matSuffix class="material-icons">lock_outline</mat-icon>
                                <input matInput type="password" name="password" placeholder="Contraseña"  [(ngModel)]="model.password" #password="ngModel" required>


                            </mat-form-field>
                        </div>
                        
                        <!-- <div class="form-group">

                            <mat-form-field class="full-width">
                                 <mat-icon matSuffix class="material-icons">all_out</mat-icon> 
                                <label for="position">Posicion</label>
                                 <input required matInput type="text" name="position" placeholder="Posición" [(ngModel)]="model.position" #position="ngModel">
                                <mat-select class="full-width" name="position" [(ngModel)]="posDefault" required>
                                    <mat-option *ngFor="let item of posicionesEllipse" [value]="item.name">{{item.name}} - {{item.value}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                     -->




                        <div class="top-nav-left">
                            <a (click)="copyright()"><img class="img-circle" src="assets/images/Help.png" style="width: 25px; height: 25px;"></a>
                        </div>
                        <div class="top-nav-right"><button mat-raised-button type="submit" [disabled]="!loginForm.form.valid" color="primary" class="float-right">Entrar</button></div>
                    </fieldset>
                </form>

            </div>
            <div class="form-group">
                <!-- (change)="defaultvalues()" -->
                <input type="checkbox" [(ngModel)]="recordar"><label><b>Remember me</b></label>
            </div>
        </div>
    </div>
</div>