

::-webkit-input-placeholder { /* Safari y Chrome */
   color:  rgb(17, 7, 7); 
   text-align: left;
   text-decoration: underline;
   margin-left: 30px !important; 
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
 
:-moz-placeholder { /* Firefox hasta v18 */
   color: rgb(17, 7, 7); 
   text-align: left ;
   text-decoration: underline;
   margin-left: 30px !important;
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}  
 
::-moz-placeholder {  /* Firefox 19+ */
   color: rgb(17, 7, 7); 
   text-align: left;
   text-decoration: underline;
   margin-left: 30px !important;
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
 
:-ms-input-placeholder {  /* IE 10+´*/
   color: rgb(17, 7, 7); 
   text-align: left;
   text-decoration: underline;
   margin-left: 30px !important;
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h4{
   font-family:'collahuasi';
}





 h1{
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
 }

 mat-label{
   font-family: 'Open Sans', Arial, Helvetica, sans-serif;
 }

 table {
   width: 100%;
 }
 
 .example-chip-list {
   width: 100%;
 }

 .nuevo_entidad{
   color: #ffffff;
   background-color: #e0a800;
   border-color: #d39e00;
 }
