<nav class="navbar navbar-light bg-light">

    <a class="navbar-brand" (click)="gotodashboard()">
        <img src="assets/images/Collahuasi.png" class="logo" alt="Collahuasi Mucho mas que cobre">
    </a>

    <span class="navbar-text">
          Navbar text with an inline element
          <sub>epa la areapa</sub>
        </span>


    <div class="top-nav-right">

        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <a><button style="color: #175641 "   mat-button class="mat-button header-btn" myOpenSearchOverlay><mat-icon mat-list-icon style="color: #175641 " title='Help'>help</mat-icon></button> </a>

            </li>


            <li class="list-inline-item">
                <button style="color: #175641 " mat-button class="mat-button header-btn" myOpenSearchOverlay><mat-icon mat-list-icon style="color: #175641 ">exit_to_app</mat-icon>Cerrar Sesion</button>
            </li>

        </ul>
    </div>
</nav>
