<h6 class="article-title">
    Area > Proceso
    <!-- <button *ngIf="procesoModel.procesoStatusId !=='008' && procesoModel.CanAdd " mat-button class="mat-button header-btn" myOpenSearchOverlay style="float: right; " (click)="Caja(procesoModel.key,procesoModel.procesoStatusId)"><mat-icon mat-list-icon >dashboard</mat-icon>Dashboard</button> -->
    <button *ngIf="boton === 'creador' " mat-button class="mat-button header-btn" myOpenSearchOverlay style="float: right; " (click)="Caja(procesoModel.key,procesoModel.procesoStatusId)"><mat-icon mat-list-icon >dashboard</mat-icon>Dashboard</button>
    <button *ngIf="boton === 'validador' || boton === 'aprobador' "  mat-button class="mat-button header-btn" myOpenSearchOverlay style="float: right; " (click)="enviarAvalidar(procesoModel.key,procesoModel.procesoStatusId,true)">Rechazar</button>
    <button *ngIf="boton === 'validador'  " mat-button class="mat-button header-btn" myOpenSearchOverlay style="float: right; " (click)="enviarAvalidar(procesoModel.key,procesoModel.procesoStatusId)">Validar</button>
    <button *ngIf="boton === 'aprobador' " mat-button class="mat-button header-btn" myOpenSearchOverlay style="float: right; " (click)="enviarAvalidar(procesoModel.key,procesoModel.procesoStatusId)">Aprobar</button>
</h6>


<div class="row">
    <div class="col-xl-12">
        <div class="box box-default">
            <div class="box-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            <mat-form-field>
                                <input matInput type="text" name="areaId" placeholder="Area" [(ngModel)]="procesoModel.areaId" #areaId="ngModel" readonly="true" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput type="text" name="areaDescripcion" placeholder="" [(ngModel)]="procesoModel.areaDescripcion" #areaDescripcion="ngModel" readonly="true" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-1">
                            <mat-form-field>
                                <input matInput type="text" name="procesoId" placeholder="Proceso" [(ngModel)]="procesoModel.procesoId" #procesoId="ngModel" readonly="true" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field>
                                <input matInput type="text" name="procesoDescripcion" placeholder="" [(ngModel)]="procesoModel.procesoDescripcion" #procesoDescripcion="ngModel" readonly="true" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-md-10">
                            <mat-form-field>
                                <textarea style="height: 40px;" matInput name="procesoDescripcionExt" placeholder="Descripción extendida" [(ngModel)]="procesoModel.procesoDescripcionExt" #procesoDescripcionExt="ngModel" readonly="true"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col-md-1">
                            <mat-form-field>
                                <input matInput type="text" name="procesoIdClasificacion" placeholder="Clasificación" [(ngModel)]="procesoModel.procesoIdClasificacion" #procesoIdClasificacion="ngModel" readonly="true" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput type="text" name="procesoDescClasificacion" placeholder="" [(ngModel)]="procesoModel.procesoDescClasificacion" #procesoDescClasificacion="ngModel" readonly="true" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>

                                <input matInput *ngIf="procesoModel.procesoRiesgoPuro !==' '" [class]="procesoModel.procesoRiesgoPuro" type="text" name="procesoRiesgoPuro" placeholder="Riesgo Puro" [(ngModel)]="procesoModel.procesoRiesgoPuro" #procesoRiesgoPuro="ngModel" readonly="true"
                                />
                                <input matInput *ngIf="procesoModel.procesoRiesgoPuro ===' '" [id]="procesoModel.procesoRiesgoPuro" type="text" name="procesoRiesgoPuro" placeholder="Riesgo Puro" [(ngModel)]="procesoModel.procesoRiesgoPuro" #procesoRiesgoPuro="ngModel" readonly="true"
                                />
                            </mat-form-field>
                        </div>
                        <div class="col-md-2">
                            <mat-form-field>

                                <input matInput *ngIf="procesoModel.procesoRiesgoResidual !==' '" [class]="procesoModel.procesoRiesgoResidual" type="text" name="procesoRiesgoResidual" placeholder="Riesgo Residual" [(ngModel)]="procesoModel.procesoRiesgoResidual" #procesoRiesgoResidual="ngModel"
                                    readonly="true" />
                                <input matInput *ngIf="procesoModel.procesoRiesgoResidual ===' '" [id]="procesoModel.procesoRiesgoResidual" type="text" name="procesoRiesgoResidual" placeholder="Riesgo Residual" [(ngModel)]="procesoModel.procesoRiesgoResidual" #procesoRiesgoResidual="ngModel"
                                    readonly="true" />
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="divide">
                        <button  class="btn btn-sm btn-light btn-round pl-1"  (click)="generarReporte()"> <img
                            class="img-circle"
                            src="assets/images/excel.png"
                            style="width: 20px; height: 20px"
                          />Generar Reporte</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-12" *ngIf="btn !== 'lectura'">
        <div class="box box-default table-box table-responsive mdl-shadow--2dp" style="height: 500px;">
            <div class="lds-spinner div_centrado" *ngIf="loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

            <table class="mdl-data-table table-bordered table-striped cf no-margin" *ngIf="!loading">
                <thead>
                    <tr>
                        <th>
                            <p><b></b></p>
                        </th>
                        <th></th>
                        <th colspan=2 style="text-align: center;">Seguridad y Salud Ocupacional</th>
                        <th colspan=2 style="text-align: center;">Medio ambiente</th>
                        <th colspan=2 style="text-align: center;">Operacional</th>
                    </tr>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico">
                            <p><b></b></p>SubProceso</th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico">Descripción SubProceso</th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Puro</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Residual</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Puro</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Residual</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Puro</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Residual</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of subprocesosList">
                        <td title="Pendiente Inactivacion (Eliminacion)." *ngIf=' item.estado ==="001"  && item.pendingDelete ==="Y"|| item.estado ==="002" && item.pendingDelete ==="Y"|| item.estado ==="003"  && item.pendingDelete ==="Y"|| item.estado ==="006" && item.pendingDelete ==="Y"'
                            class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (*)</a></td>
                        <td title="Pendiente Inactivacion (Eliminacion)." *ngIf=' item.estado ==="004" && item.pendingDelete ==="Y"  ' class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (**)</a></td>
                        <td title="Pendiente Inactivacion (Eliminacion)." *ngIf=' item.estado ==="007" && item.pendingDelete ==="Y" ' class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (***)</a></td>

                        <td title="Ítem pendiente por enviar a validar." *ngIf=' item.estado ==="001" && item.pendingDelete ==="N" || item.estado ==="002" && item.pendingDelete ==="N" || item.estado ==="003" && item.pendingDelete ==="N" || item.estado ==="006" && item.pendingDelete ==="N"'
                            class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (*)</a></td>
                        <td title="Ítem pendiente de validar." *ngIf=' item.estado ==="004" && item.pendingDelete ==="N"' class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (**)</a></td>
                        <td title="Ítem pendiente por Aprobar" *ngIf=' item.estado ==="007" && item.pendingDelete ==="N"' class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (***)</a></td>
                        <td *ngIf=' item.estado ==="000" && item.pendingDelete ==="Y" ' class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (R)</a></td>
                        <td *ngIf=' item.estado ==="000" && item.pendingDelete ==="N" ' class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (R)</a></td>
                        <!-- <td *ngIf=' item.estado ==="010" && item.pendingDelete ==="Y" ' class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (Ar)</a></td> -->
                        <!-- <td *ngIf=' item.estado ==="010" && item.pendingDelete ==="N" ' class="mdl-data-table__cell--non-numeric">{{item.Id}}<a style="font-size: 11px;color: red;"> (Ar)</a></td> -->
                        <td *ngIf='item.estado ==="008" && item.pendingDelete ==="N"' class="mdl-data-table__cell--non-numeric">{{item.Id}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{item.Descripcion}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoPuroS">{{item.subprocesoRiesgoPuroS}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoResidualS">{{item.subprocesoRiesgoResidualS}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoPuroM">{{item.subprocesoRiesgoPuroM}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoResidualM">{{item.subprocesoRiesgoResidualM}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoPuroN">{{item.subprocesoRiesgoPuroN}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoResidualN">{{item.subprocesoRiesgoResidualN}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-xl-12" *ngIf="btn === 'lectura'">
        <div class="box box-default table-box table-responsive mdl-shadow--2dp" style="height: 500px;">
            <table class="mdl-data-table table-bordered table-striped cf no-margin">
                <thead>
                    <tr>
                        <th>
                            <p><b></b></p>
                        </th>
                        <th></th>
                        <th colspan=2 style="text-align: center;">Seguridad y Salud Ocupacional</th>
                        <th colspan=2 style="text-align: center;">Medio ambiente</th>
                        <th colspan=2 style="text-align: center;">Operacional</th>
                    </tr>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico">
                            <p><b></b></p>SubProceso</th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico">Descripción SubProceso</th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Puro</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Residual</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Puro</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Residual</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Puro</b></th>
                        <th class="mdl-data-table__cell--non-numeric" id="estatico"><b>Residual</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of subprocesosListLectura">

                        <td class="mdl-data-table__cell--non-numeric">{{item.Id}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{item.Descripcion}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoPuroS">{{item.subprocesoRiesgoPuroS}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoResidualS">{{item.subprocesoRiesgoResidualS}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoPuroM">{{item.subprocesoRiesgoPuroM}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoResidualM">{{item.subprocesoRiesgoResidualM}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoPuroN">{{item.subprocesoRiesgoPuroN}}</td>
                        <td class="mdl-data-table__cell--non-numeric" [id]="item.subprocesoRiesgoResidualN">{{item.subprocesoRiesgoResidualN}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>