.mdl-data-table th {
    position: relative;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: black;
    padding-bottom: 8px;
    box-sizing: border-box;
}
thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 10;
}

table th {
  position: sticky;
  top: 0;
}
thead tr:first-child th { 
  position: sticky; 
  background: white;
  top: 0; 
}