// .cebra {
//     border-top: solid 1px #ccc;
//     border-spacing: 0;
// }
// .cebra thead tr {
//     background: #333;
//     color: white;
// }
// .cebra thead,
// .cebra tbody {
//     border-right: solid 1px #ccc;
//     min-width: 150px;
//     padding: 0.5rem;
//     text-align: left;
// }
// .cebra thead :last-child,
// .cebra tbody :last-child {
//     border-right: 0;
// }
// .cebra td {
//     border-bottom: solid 1px #ccc;
// }
// .cebra tbody tr {
//     background: white;
// }
// .cebra tbody tr :nth-child(2n) {
//     background: #f2f2f2;
// }
// .cebra .sticky {
//     position: sticky;
//     left: 0;
// }
.cebra .sticky {
    position: sticky;
    min-width: 60px !important;
    left: 0;
}

.cebra .sticky2 {
    position: sticky;
    left: 60px;
}

.cebra {
    border-top: solid 1px #333;
    border-spacing: 0;
}

.cebra thead th {
    background: #333;
    color: white;
}

.sticky-top {
    position: sticky;
    background: #333;
    color: white;
    left: 210px;
}

// .cebra thead th {
//     position: sticky;
//     top: 0;
// }
.cebra th,
.cebra td {
    border-right: solid 1px #ccc;
    min-width: 150px;
    padding: 0.5rem;
    text-align: left;
}

.cebra th:last-child,
.cebra td:last-child {
    border-right: 0;
}

.cebra td {
    border-bottom: solid 1px #ccc;
}

.cebra tbody tr .sticky,
.cebra tbody tr .sticky2 {
    background-color: white;
}

.cebra tbody tr:nth-child(2n) .sticky,
.cebra tbody tr:nth-child(2n) .sticky2 {
    background-color: #f2f2f2;
}

.cebra tbody tr:nth-child(2n) {
    background-color: #f2f2f2;
}

a {
    color: #2196F3 !important;
    font-weight: 500;
    cursor: pointer !important;
}

// input:checked .checkmark {
//     background-color: #21F329 !important;
// }
input:checked~.checkmark {
    background-color: green;
}

span:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.swal2-icon.swal2-warning {
    border-color: red !important;
    color: #f8bb86;
}