.mdl-data-table th {
    position: sticky !important;
    vertical-align: bottom;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 0;
    height: 28px;
    color: black;
    padding-bottom: 4px;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#SinPermisos {
    cursor: not-allowed;
    input:checked {
        background-color: #2196F3;
    }
}

.mdl-data-table tbody tr {
    font-size: 10px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    line-height: 12px;
    position: sticky;
    height: 28px;
    padding-bottom: 4px;
    transition-duration: 0.14s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
}

.mdl-data-table__cell--non-numeric {
    text-align: left !important;
    height: 9px !important;
    padding: 0px 12px 0px 12px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.mat-dialog-container {
    -webkit-user-drag: element;
}

.static {
    position: absolute;
    background-color: white;
}

#div1 {
    overflow: scroll;
    height: 500px;
    width: 800px;
}

#controles :first-letter {
    color: red !important;
}

.first-col {
    padding-left: 74.5px!important;
}

thead th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 10;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

table th {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: sticky;
    top: 0;
}

h3 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
    color: #2196F3 !important;
    font-weight: 500;
    cursor: pointer !important;
}

#check {
    font-size: 10px;
}

#busqueda {
    background-color: gray;
}

.table-cebra {
    border: solid 1px #ccc;
    border-spacing: 0;
}

.table-cebra thead th {
    background: #333 !important;
    color: white !important;
}

.table-cebra th,
.table-cebra td {
    border-right: solid 1px #ccc;
    min-width: 150px;
    padding: 0.5rem;
    text-align: left;
}

.table-cebra th :last-child,
.table-cebra td :last-child {
    border-right: 0;
}

.table-cebra td {
    border-bottom: solid 1px #ccc;
}

.table-cebra tbody tr .sticky {
    background-color: white;
}

.table-cebra tbody tr:nth-child(2n) .sticky {
    background: #f2f2f2;
}

.table-cebra .sticky {
    position: sticky;
    left: 0;
}