<h4 mat-dialog-draggable-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>

    {{ data.title }} </h4>



<mat-dialog-content style="padding-left: 0 !important;">


    <table class="cebra">

        <thead>


            <tr>
                <th class="sticky sticky-top "><input type="checkbox" style="background-color: green !important;" [(ngModel)]="masterSelected" (change)="checkUncheckAll()" /><b id='check'>Todos</b></th>
                <th class="sticky2 sticky-top"><b>Accion</b></th>
                <th class="sticky-top"><b>Comentarios</b></th>
                <th class="sticky-top fecha"><b>Fecha</b><br></th>
                <th class="sticky-top"><b>Entidad</b>
                </th>
                <th class="sticky-top"><b>Descripcion</b></th>
                <th class="sticky-top"><b>Area</b></th>
                <th class="sticky-top"><b>Proceso</b></th>
                <th class="sticky-top"><b>SubProceso</b></th>
                <th class="sticky-top"><b>Actividad</b></th>
                <th class="sticky-top"><b>Tarea</b></th>
                <th class="sticky-top"><b>Dimension</b></th>
                <th class="sticky-top"><b>Riesgo</b></th>
                <th class="sticky-top"><b>Consecuencia</b></th>
                <th class="sticky-top"><b>Controles</b></th>


            </tr>


        </thead>

        <tbody>
            <tr *ngFor="let item of pendList">
                <td class="sticky">
                    <input type="checkbox" class="checkmark" (change)="MarcarJerarquia(item.key,item.status,item.check)" [value]="item.check" [(ngModel)]="item.check">
                    <!-- <ng-template [ngIf]="item.estado < item.statusParent" [ngIfElse]="PadreMayor">
        
                                </ng-template>
                                <ng-template #PadreMayor>
                                    <input readonly type="checkbox" style="align-items: left;" [value]="item.check" [(ngModel)]="item.check">
        
                                </ng-template> -->
                </td>
                <td class="sticky2">{{item.Accion}}</td>
                <td>{{item.Comentarios}}</td>
                <td class="fecha">{{item.Fecha}}</td>
                <ng-template [ngIf]="item.Entidad === 'ACTIVIDAD'" [ngIfElse]="Permitido">

                    <td style="font-weight: bold; min-width: 220px;">{{item.Entidad}}
                        <br>
                        <span style="font-size: 9px;">{{item.rutaJerarquia}}</span>

                    </td>

                </ng-template>

                <ng-template #Permitido>

                    <td style="min-width: 220px;">{{item.Entidad}}
                        <br>
                        <span style="font-size: 9px; font-weight: bold">{{item.rutaJerarquia}}</span>

                    </td>

                </ng-template>

                <td><a routerLink="" reload='true' (click)='verTable(item.key)'>
                                {{item.Descripcion}}  </a></td>

                <td>{{item.Area}}</td>
                <td>{{item.Proceso}}</td>
                <td>{{item.Subproceso}}</td>
                <td>{{item.Actividad}}</td>
                <td>{{item.Tarea}}</td>
                <td>{{item.Dimension}}</td>
                <td>{{item.Riesgo}}</td>
                <td>{{item.Consecuencia}}</td>
                <td>{{item.TipoControl}}-{{item.Controles}}</td>



            </tr>
        </tbody>
    </table>

</mat-dialog-content>

<span class="contador">{{totalMarcados}}/{{TotalRegistros}}</span>

<mat-dialog-actions align="end" cdkDragHandle>


    <button mat-raised-button color="warn" (click)="cerrar()">{{ data.button_close }}</button>
    <ng-template [ngIf]="!complete" [ngIfElse]="incompletos">

        <!-- <button *ngIf="btn === creacion || btn === administrador || btn === validacionaprobacion|| btn === creacionvalidacion || btn === creacionaprobacion" mat-raised-button color="accent" (click)="consola('archivar')">Archivar</button> -->
        <button *ngIf="btn === creacion || btn === administrador || btn === validacionaprobacion|| btn === creacionvalidacion || btn === creacionaprobacion" mat-raised-button color="primary" (click)="consola('restaurar')">Restaurar</button>
    </ng-template>
    <!-- <button *ngIf="btn === creacion || btn === administrador || btn === validacionaprobacion|| btn === creacionvalidacion" mat-raised-button color="accent" (click)="consola()">Re</button> -->
    <ng-template #incompletos>

        <!-- <button *ngIf="btn === creacion || btn === administrador || btn === validacionaprobacion|| btn === creacionvalidacion || btn === creacionaprobacion" mat-raised-button color="accent" (click)="consola('archivar')">Archivar</button> -->
        <button *ngIf="btn === creacion || btn === administrador || btn === validacionaprobacion|| btn === creacionvalidacion || btn === creacionaprobacion" mat-raised-button color="primary" (click)="consola('restaurar')">Restaurar</button>
    </ng-template>


</mat-dialog-actions>