<h3 mat-dialog-draggable-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>

    {{ data.title }} </h3>

<mat-dialog-content cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="box box-default table-box mdl-shadow--2dp">

        <div>

            <input type="date" placeholder="Fecha Desde" [(ngModel)]='FechaDesde' name="FechaDesde" required>Fecha Desde

            <input type="date" placeholder="Fecha Hasta" [(ngModel)]='FechaHasta' name="FechaHasta" required>Fecha Hasta

            <button *ngIf="FechaDesde ==='' || FechaHasta=== ''; else BotonActivado" (click)='Filtrar()' style="padding-left: 5px; padding-top: 1px;" class="material-icons" disabled>
                    search</button>
            <ng-template #BotonActivado>
                <button (click)='Filtrar()' style="padding-left: 5px; padding-top: 1px;" class="material-icons">
                            search</button>
            </ng-template>
        </div>
        <!-- <p>{{TotalRegistros}}</p> -->
        <br>
        <br>
        <table class="mdl-data-table table-bordered table-striped cf no-margin" style="height: 100px;">


            <thead>


                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><input type="checkbox" class="mdl-data-table__cell--non-numeric" style="padding-left: 0px;" [(ngModel)]="masterSelected" (change)="checkUncheckAll()" /><b id='check'>Todos</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Accion</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Comentarios</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Fecha</b><br></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Entidad</b>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Descripcion</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Area</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Proceso</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>SubProceso</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Actividad</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Tarea</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Dimension</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Riesgo</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Consecuencia</b></th>
                    <th class="mdl-data-table__cell--non-numeric"><b>Controles</b></th>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pendList">
                    <td class="mdl-data-table__cell--non-numeric" style="text-align:left">
                        <input *ngIf="item.permiso" type="checkbox" style="align-items: left;" class="mdl-data-table__cell--non-numeric" (change)="MarcarJerarquia(item.key,item.check)" [value]="item.check" [(ngModel)]="item.check">
                        <input *ngIf="!item.permiso && !item.check" type="checkbox" style="align-items: left;" class="mdl-data-table__cell--non-numeric" (change)="MarcarJerarquia(item.key,item.check)" [value]="item.check" [(ngModel)]="item.check" id="SinPermisos" disabled="disabled">

                        <!-- <ng-template [ngIf]="item.estado < item.statusParent" [ngIfElse]="PadreMayor">
    
                            </ng-template>
                            <ng-template #PadreMayor>
                                <input readonly type="checkbox" style="align-items: left;" class="mdl-data-table__cell--non-numeric" [value]="item.check" [(ngModel)]="item.check">
    
                            </ng-template> -->
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Accion}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Comentarios}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Fecha}}</td>
                    <ng-template [ngIf]="item.Entidad === 'ACTIVIDAD'" [ngIfElse]="Permitido">

                        <td class="mdl-data-table__cell--non-numeric" style="font-weight: bold;">{{item.Entidad}}</td>

                    </ng-template>

                    <ng-template #Permitido>

                        <td class="mdl-data-table__cell--non-numeric">{{item.Entidad}}</td>

                    </ng-template>

                    <td class="mdl-data-table__cell--non-numeric"><a routerLink="" reload='true' (click)='verTable(item.key)'>
                            {{item.Descripcion}}  </a></td>

                    <td class="mdl-data-table__cell--non-numeric">{{item.Area}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Proceso}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Subproceso}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Actividad}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Tarea}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Dimension}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Riesgo}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Consecuencia}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.Controles}}</td>



                </tr>
            </tbody>

        </table>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" cdkDragHandle>
    <button mat-raised-button color="warn" (click)="cerrar()">{{ data.button_close }}</button>
    <!--  <button *ngIf="btn === creacion || btn === administrador || btn === validacionaprobacion|| btn === creacionvalidacion || btn === creacionaprobacion" mat-raised-button color="accent" (click)="consola('archivar')">Archivar</button>
    <button *ngIf="btn === creacion || btn === administrador || btn === validacionaprobacion|| btn === creacionvalidacion || btn === creacionaprobacion" mat-raised-button color="primary" (click)="consola('restaurar')">Restaurar</button> -->
    <!-- <button *ngIf="btn === creacion || btn === administrador || btn === validacionaprobacion|| btn === creacionvalidacion" mat-raised-button color="accent" (click)="consola()">Re</button> -->



</mat-dialog-actions>