<section class="container-fluid ">
    <div class="row bg-light">

        <div *ngIf="checked === false" class="col-xl-4 col-md-12 col-sm-12 col-xs-12 w-100" style="padding-left: 10px; padding-right: 5px">
            <div class="box box-default table-box table-responsive mdl-shadow--2dp">
                <div class="botonesAccion">
                    <button *ngIf="mostrarLimpiar" alt class="btn btn-sm btn-light btn-round float-left" (click)="limpiarCopiado()">
        <img
          class="img-circle"
          title="Deshacer Copiado"
          src="assets/images/clean.png"
          style="width: 10px; height: 10px; text-align: left !important;"
        />
      </button>
                    <button class="btn btn-sm btn-light btn-round" (click)="mostrarNotificaciones()" [disabled]="bloqueado">
                    <mat-icon [matBadge]="notificacionesContador" [matBadgeHidden]="visible" matBadgeSize="medium" class="material-icons">notifications_none</mat-icon></button>



                    <button alt class="btn btn-sm btn-light btn-round" (click)="VerLeyenda()">
        <img
          class="img-circle"
          title="Mostrar Leyenda"
          src="assets/images/Help.png"
          style="width: 10px; height: 10px"
        />
      </button>

                    <button [style.display]="AgregarArea" *ngIf="percreacion === 'N'" class="btn btn-sm btn-light btn-round" (click)="nuevaArea()">
        <img
          class="img-circle"
          src="assets/images/Add.png"
          style="width: 10px; height: 10px"
          title="Agregar Area"
        />
      </button>
                    <button [style.display]="AgregarArea" *ngIf="percreacion === 'Y'" class="btn btn-sm btn-light btn-round" (click)="nuevaArea()" disabled>
        <img
          class="img-circle"
          src="assets/images/Add_Disabled.png"
          style="width: 10px; height: 10px"
          title="Agregar Area"
        />
      </button>

                    <button class="btn btn-sm btn-light btn-round" (click)="recargarArbol(true)">
        <img
          class="img-circle"
          src="assets/images/Refresh.png"
          style="width: 10px; height: 10px"
        />
        Refrescar
      </button>


                </div>

                <br />

                <mat-progress-bar *ngIf="isLoading" style="width: 100%" mode="buffer"></mat-progress-bar>


                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">


                    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>

                        <b hidden>{{BotonesAccion(node)}}</b>

                        <button class="btn btn-sm btn-light btn-round" (click)="nuevo(node)" [disabled]="botones[2]">
                        <img
                          [class]="botones[4]"
                          [src]="botones[0]"
                          
                        />
                      </button>

                        <button class="btn btn-sm btn-light btn-round" (click)="eliminar(node)" [disabled]="botones[3]">
                    <img
                      [class]="botones[5]"
                      [src]="botones[1]"
                      
                    />
                  </button>

                        <!--- Botones de Copiado-->
                        <button *ngIf="rutaimagen && node.level > 1" class="btn btn-sm btn-light btn-round" (click)="copy(node)">
                        <img
                          class="img-circle"
                          src="assets/images/copy.png"
                          title="Copiar Jerarquia"
                          style="width: 10px; height: 10px"
                        >
                      </button>
                        <button *ngIf="rutaimagen && node.level === 1" class="btn btn-sm btn-light btn-round" (click)="copy(node)" disabled>
                        <img
                          class="img-circle"
                          src="assets/images/cancel.png"
                          title="Copiar Jerarquia"
                          style="width: 10px; height: 10px"
                        />
                        
                      </button>
                        <button *ngIf="!rutaimagen && node.level === nivelpermitido && node.key !== nodoPadreBloqueo" class="btn btn-sm btn-light btn-round" (click)="paste(node)">
                <img   class="img-circle" src="assets/images/paste.png" title="Pegar Jerarquia" style="width: 10px; height: 10px; ">
            </button>
                        <button *ngIf="!rutaimagen && node.level !== nivelpermitido && node.key !== nodocopiarkey  || node.key === nodoPadreBloqueo " class="btn btn-sm btn-light btn-round" (click)="paste(node)" disabled>
                <img   class="img-circle" src="assets/images/cancel.png"  style="width: 10px; height: 10px; ">
            </button>
                        <button *ngIf="!rutaimagen && node.level !== nivelpermitido && node.key === nodocopiarkey " lass="btn btn-sm btn-light btn-round" (click)="paste(node)" disabled>
                <img   class="img-circle" title="Jerarquia Copiada" src="assets/images/Tick.png"  style="width: 10px; height: 10px; ">
            </button>

                        <!--- Fin Botones de Copiado-->


                        <b *ngFor="let item of node.sp">&nbsp;&nbsp;&nbsp;</b>


                        <!-- <button class="btn btn-sm btn-light btn-round img-circle" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name"> -->
                        <mat-icon style="cursor: pointer;" class="mat-icon-rtl-mirror" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                            {{desplegarJerarquia(node)}}
                        </mat-icon>
                        <!-- </button> -->


                        <span [title]="item" class="nivel">{{obtenerNIvel(node)}}{{prefijo}}</span>

                        <a class="estado" [title]="obtenerEstado(node)" [routerLink]="" (click)="ver(node)">{{ node.item.trim()}}<a  class="indicadorEstado">{{valoreAsterisco(node)}}</a></a>







                        <a *ngIf="node.status === '000'" title="Ítem Rechazado" [routerLink]="" (click)="ver(node)">{{ node.item.trim()}}<a style="font-size: 11px; color: red">(R)</a></a>



                        <mat-progress-bar *ngIf="node.isLoading" style="width: 50px" mode="buffer"></mat-progress-bar>
                    </mat-tree-node>
                </mat-tree>

            </div>
        </div>
        <!--Pantalla de Detalle-->

        <div class="col-xl-8 col-md-12 col-sm-12 col-xs-12 h-100" id="refrescar">
            <router-outlet></router-outlet>
        </div>
    </div>

    <a style="
  padding-top: 0px;
  text-align: right;
  display: inline;
  padding-left: 1080px;
">Desarrollado por SUMMA CONSULTING @{{ date }}</a
>
</section>

<!-- <div style="margin-left:20px; margin-top: 0cm;">

</div> -->