body {
  height: auto !important;
  width: auto !important;
  overflow: hidden;
}

.container-fluid {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.col-xl-12 text-center {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.btn-light-2 {
  color: #212529;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.example-tree {
  min-height: 500px;
  height: 800px;
  min-width: 520px;
  white-space: nowrap;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  overflow-x: auto;
  overflow: scroll;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

element.style {
  padding-left: 40px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.mat-tree-node {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 11px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

mat-tree-node {
  padding-left: 0px !important;
}

.col-xl-8 {
  padding-left: 5px;
  padding-right: 10px;
  background: white;
  height: 834px;
  border: 0.3px solid #175641;
  background-size: cover;
}

.sinFondo {
  padding-left: 5px;
  padding-right: 10px;
  background: white !important;
  height: 834px;
  border: 0.3px solid #175641;
}

.pasos {
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
  color: black !important;
}

/*.mat-tree-node {
    font-weight: 400;
    font-size: 12px;
  }*/
h4 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.mdl-data-table th {
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 0;
  height: 28px;
  color: black;
  padding-bottom: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.mdl-data-table tbody tr {
  font-size: 10px;
  line-height: 12px;
  position: relative;
  height: 28px;
  padding-bottom: 4px;
  -webkit-transition-duration: 0.14s;
          transition-duration: 0.14s;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.mdl-data-table__cell--non-numeric {
  text-align: left !important;
  height: 9px !important;
  padding: 0px 0px 0px 12px;
  max-width: 300px;
  white-space: wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.btn-link {
  font-weight: 400;
  color: #2196F3;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.box-default {
  background-color: #fff;
  min-height: 98%;
  height: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

a {
  color: #2196F3;
  font-weight: 500;
}

.background-highlight:visited {
  background-color: #cff5e9 !important;
}

.background-highlight:visited::after {
  background-color: #cff5e9 !important;
}

.background-highlight {
  background-color: #cff5e9 !important;
}

.seleccionado:visited {
  background-color: #cfd6f5 !important;
}

.seleccionado:visited::after {
  background-color: #cfd6f5 !important;
}

.seleccionado:visited::after {
  background-color: #d1f312 !important;
}

.card .card-content {
  padding: 10px;
  border-radius: 0 0 2px 2px;
  height: 135px;
}

.text {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-break: break-all;
  margin: 0 0 1em 1em;
}

::-webkit-input-placeholder {
  /* Safari y Chrome */
  color: black;
  text-align: left;
  margin-left: 15px !important;
}

input {
  border: 1px solid black;
}

thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: white;
  z-index: 10;
}

table th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

thead tr:first-child th {
  position: -webkit-sticky;
  position: sticky;
  background: white;
  top: 0;
}

section {
  width: auto !important;
  height: auto !important;
}

.foot {
  width: auto !important;
  height: auto !important;
}

.swal-modal {
  width: 400px !important;
}

footer input {
  border-radius: 50%;
  max-width: 20px;
  height: 20px;
}

#SinPermisos {
  cursor: not-allowed;
}

.tabla {
  max-width: 100%;
  overflow-x: scroll;
}

/*
@media only screen and (max-width: 400px) {
  .foot{
    width: 100%;
    padding-top: 0px;
  }
  footer input{
    overflow: hidden;
    border-radius: 80%;
    max-width: 10px;
    height: 10px;
    display: inline-flex;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    margin-left: 5px !important;
  }

  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  }

  .example-tree {
    width: auto;
    height: 100%;
    height: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  }

  .example-tree mat-tree{
    width: auto;
    height: 100%;
    height: auto;

    white-space: nowrap;
    overflow-x: auto;
    overflow-y: auto;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  }
}

@media only screen and (max-width: 500px) {
  .foot{
    width: 100%;
    padding-top: 0px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  }
  footer input{
    overflow: hidden;
    border-radius: 80% !important;
    max-width: 20px !important;
    height: 20px !important;
    display: inline-flex !important;
    margin-left: 5px !important;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  }
}

@media only screen and( min-width:1024px){
  .mat-tree-node {
    width: 643px;
    max-width: auto;
    display: block;
    align-items: center;
    min-height: 25px;
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;


   
}
.example-tree {
  min-height: 650px;
  height: auto;

  border: 0.3px solid #175641;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}

.example-tree mat-tree{
  height: 835px;
  border: 0.3px solid #175641;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;

}
}
@media only screen and( min-width:1870px){

  .example-tree {
    min-height: 960px;
    height: auto;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  .example-tree mat-tree{
    height: 780px;
    height: auto;
    border: 0.3px solid #175641;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  
  }

}

@media only screen and( min-width:1920px){

  .example-tree {
    min-height: 1000px;
    height: auto;
    
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

  }
  .example-tree mat-tree{
    min-height: 1000px;
    border: 0.3px solid #175641;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  
  }

}
@media only screen and( min-width:1921px){

  .example-tree {
    min-height: 1050px;
    height: auto;
    
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  .example-tree mat-tree{
    height: 780px;
    border: 0.3px solid #175641;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  
  }

}

@media only screen and( min-width:2560px){

  .example-tree {
    height: 1000px;
    height: auto;
    
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  .example-tree mat-tree{
    height: 780px;
    border: 0.3px solid #175641;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  
  }


}
@media only screen and( min-width:3840px){

  .example-tree {
    min-height: 2100px ;
    height: auto;
    height: auto;
    
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
  .example-tree mat-tree{
    height: 780px;
    border: 0.3px solid #175641;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  
  }
  

}*/
.bell {
  border-radius: 50%;
  color: #c51919;
}

.si {
  border-radius: 50%;
}

.no {
  border-radius: 50%;
  color: #c51919;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }
  1% {
    -webkit-transform: rotateZ(30deg);
  }
  3% {
    -webkit-transform: rotateZ(-28deg);
  }
  5% {
    -webkit-transform: rotateZ(34deg);
  }
  7% {
    -webkit-transform: rotateZ(-32deg);
  }
  9% {
    -webkit-transform: rotateZ(30deg);
  }
  11% {
    -webkit-transform: rotateZ(-28deg);
  }
  13% {
    -webkit-transform: rotateZ(26deg);
  }
  15% {
    -webkit-transform: rotateZ(-24deg);
  }
  17% {
    -webkit-transform: rotateZ(22deg);
  }
  19% {
    -webkit-transform: rotateZ(-20deg);
  }
  21% {
    -webkit-transform: rotateZ(18deg);
  }
  23% {
    -webkit-transform: rotateZ(-16deg);
  }
  25% {
    -webkit-transform: rotateZ(14deg);
  }
  27% {
    -webkit-transform: rotateZ(-12deg);
  }
  29% {
    -webkit-transform: rotateZ(10deg);
  }
  31% {
    -webkit-transform: rotateZ(-8deg);
  }
  33% {
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
  }
  37% {
    -webkit-transform: rotateZ(2deg);
  }
  39% {
    -webkit-transform: rotateZ(-1deg);
  }
  41% {
    -webkit-transform: rotateZ(1deg);
  }
  43% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(0);
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  1% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  3% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  5% {
    -webkit-transform: rotate(34deg);
            transform: rotate(34deg);
  }
  7% {
    -webkit-transform: rotate(-32deg);
            transform: rotate(-32deg);
  }
  9% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  11% {
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  13% {
    -webkit-transform: rotate(26deg);
            transform: rotate(26deg);
  }
  15% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg);
  }
  17% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  19% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  21% {
    -webkit-transform: rotate(18deg);
            transform: rotate(18deg);
  }
  23% {
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg);
  }
  25% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  27% {
    -webkit-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }
  29% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  31% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  33% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  37% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  39% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  41% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  43% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
/*# sourceMappingURL=rkmain.component.css.map */