<!-- <h2 class="article-title">Definición de Actividades +RKC</h2> -->

<div class="row">
  <div class="col-xl-12">
      <div class="box box-default">
          <div class="box-body">      
              <div class="form-group">
              <div class="row">
                  <div class="col-md-1">
                    <mat-form-field>
                        <input matInput type="text" name="areaId" placeholder="Area" [(ngModel)]="actividadModel.areaId" #areaId="ngModel" readonly="true"/>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                      <mat-form-field>
                          <input matInput type="text" name="areaDescripcion" placeholder="" [(ngModel)]="actividadModel.areaDescripcion" #areaDescripcion="ngModel" readonly="true"/>
                      </mat-form-field>
                  </div>
                  <div class="col-md-1">
                      <mat-form-field>
                          <input matInput type="text" name="procesoId" placeholder="Proceso" [(ngModel)]="actividadModel.procesoId" #procesoId="ngModel" readonly="true"/>
                      </mat-form-field>
                  </div>
                  <div class="col-md-2">
                      <mat-form-field>
                          <input matInput type="text" name="procesoDescripcion" placeholder="" [(ngModel)]="actividadModel.procesoDescripcion" #procesoDescripcion="ngModel" readonly="true"/>
                      </mat-form-field>
                  </div>
                  <div class="col-md-1">
                      <mat-form-field>
                          <input matInput type="text" name="subprocesoId" placeholder="Subproceso" [(ngModel)]="actividadModel.subprocesoId" #subprocesoId="ngModel" readonly="true"/>
                      </mat-form-field>
                  </div>
                  <div class="col-md-2">
                      <mat-form-field>
                          <input matInput type="text" name="subprocesoDescripcion" placeholder="" [(ngModel)]="actividadModel.subprocesoDescripcion" #subprocesoDescripcion="ngModel" readonly="true"/>
                      </mat-form-field>
                  </div>
                  <div class="col-md-1">
                      <mat-form-field>
                          <input matInput type="text" name="actividadId" placeholder="Actividad" [(ngModel)]="actividadModel.actividadId" #actividadId="ngModel" readonly="true"/>
                      </mat-form-field>
                  </div>
                  <div class="col-md-2">
                      <mat-form-field>
                          <input matInput type="text" name="actividadDescripcion" placeholder="" [(ngModel)]="actividadModel.actividadDescripcion" #actividadDescripcion="ngModel" readonly="true"/>
                      </mat-form-field>
                  </div>
              </div>
            </div>   
          </div>
      </div>
  </div>
<div class="col-xl-12">
    
    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
      <table class="mdl-data-table table-bordered table-striped cf no-margin">
        <thead>
          <tr>
            <th colspan="11" style="text-align: left;">
                <p><b>Transacciones pendientes por Validar/Aprobar</b></p>
            </th>
          </tr>
          <tr>
            <th class="mdl-data-table__cell--non-numeric" style="width: 15px;"><p><b></b></p></th>
            <th class="mdl-data-table__cell--non-numeric" style="width: 15px;"></th>
            <th class="mdl-data-table__cell--non-numeric">Id</th>
            <th class="mdl-data-table__cell--non-numeric">Tarea</th>
            <th class="mdl-data-table__cell--non-numeric">Dimensón</th>
            <th class="mdl-data-table__cell--non-numeric">Riesgo</th>
            <th class="mdl-data-table__cell--non-numeric">Consecuencia</th>
            <th class="mdl-data-table__cell--non-numeric">Accion</th>
            <th class="mdl-data-table__cell--non-numeric">Entidad</th>
            <th class="mdl-data-table__cell--non-numeric">Usuario</th>
            <th class="mdl-data-table__cell--non-numeric">Fecha</th>
          </tr>                
        </thead>
        <tbody>
            <tr *ngFor="let item of detalleList">
              <td>
                    <button class="btn btn-sm btn-light btn-round" (click)="generarTransaccionA(item)">
                        <img class="img-circle" src="assets/images/Tick.png" style="width: 10px; height: 10px;">
                    </button>
                    <!-- <mat-checkbox class="example-margin" [(ngModel)]="item.selectedA" (change)="quitarU(item)"></mat-checkbox> -->
              </td>
              <td>
                    <button class="btn btn-sm btn-light btn-round" (click)="generarTransaccionU(item)">
                        <img class="img-circle" src="assets/images/Cancel.png" style="width: 10px; height: 10px;">
                    </button>
                    <!-- <mat-checkbox class="example-margin" [(ngModel)]="item.selectedU" (change)="quitarA(item)"></mat-checkbox> -->
              </td>
              <td class="mdl-data-table__cell--non-numeric">
                    <a (click)="verTable(item)" [routerLink]="">{{item.id}}</a>
                </td>
              <td class="mdl-data-table__cell--non-numeric">{{item.tarea}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{item.dimension}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{item.riesgo}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{item.consecuencia}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{item.accion}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{item.entidad}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{item.usuario}}</td>
              <td class="mdl-data-table__cell--non-numeric">{{item.fecha}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  
</div>
</div>